{%  load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <script src="{% static "frontend/main.js" %}"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <title>Homiehomie</title>
</head>
{% block styles %}

{% endblock %}

{% block content %}

{% endblock %}
<!-- header -->
<div class="contain-fluid pt-4 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 style="
                text-shadow: 0px 4px 10px rgba(89, 108, 126, 0.35); color: #596C7E";
                ">Homiehomie</h1>
            </div>

            <div class="col-md-5">
                <form class="form-inline d-flex justify-content-center md-form form-sm active-pink-2 mt-2">
                    <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search subject, CRN or course name"
                      aria-label="Search" style = "border-radius: 30px;">
                      <i class="fas fa-search" aria-hidden="true"></i>
                  </form>
            </div>
        </div>
    </div>
</div>
<!-- body -->
<div class="contain-fluid" style="background-color: #ffffff;">
    <div class="container">
        <div class="row">
            <div id="app" class="col-md-7">
                calendar
            </div>

            <div class="col-md-5">
                <!-- course title -->
                <div class="p-2">
                    <h1 style="color:#419EF4" ;>
                        MATH2114
                    </h1>
                    <h1>Intro Diff Equations
                    </h1>
                </div>
                <!-- course detail -->
                <div class="p-2">
                    <p>
                        12:20PM - 01:10PM
                    </p>
                    <p>
                        Online with Synchronous Mtgs
                    </p>
                    <p>
                        Instructor: Joe Biden
                    </p>
                    <p>
                        Avg GPA: 2.56
                    </p>
                </div>
                <!-- course wiki -->
                <div class="p-3" style="background: #FFFFFF;
                border: 5px solid rgba(65, 158, 244, 0.27);
                box-sizing: border-box;
                border-radius: 30px;">
                    <div>
                        <h2>title</h2>
                        <input class="pl-2" type="text"
                            placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit. (Spring 2019) ">
                    </div>
                    <div>
                        <h2>title</h2>
                        <p class="pl-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. (Spring 2019) </p>
                    </div>
                    <div>
                        <h2>title</h2>
                        <p class="pl-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. (Spring 2019) </p>
                    </div>
                    <div>
                        <h2>title</h2>
                        <p class="pl-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. (Spring 2019) </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- footer -->
<div class="contain-fluid mt-4">
    <div class=" container"">
    <h1 class="display-5 pt-4" style=" text-align: center; font-size: 20px;">
        Homiehomie
    </h1>
    <!-- <div class="row">
            <div class="col-md-4" style="padding: 0% 0% 0% 14%;">
                <p class="lead">
                    Virginia Tech is home to the Crowd Intelligence Lab and the Virginia Center for Civil War
                    Studies.
                </p>
            </div>
            <div class="col-md-4" style="padding: 0% 7% 0% 7%;">
                <p class="lead">
                    The American Battlefield Trust is a charitable organization whose primary focus is in the
                    preservation of battlefields of the American Civil War, the Revolutionary War and the War of
                    1812 through acquisition of battlefield land.
                </p>
            </div>
            <div class="col-md-4" style="padding: 0% 14% 0% 0%;">
                <p class="lead">
                    Military Images is America’s only magazine dedicated solely to the study of portrait photographs
                    of Civil War soldiers..
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" style="padding: 2% 0% 0% 14%;">
                <p class="lead" style="font-weight: Bold; margin: 0;">
                    Go To Virginia Tech
                </p>
                <img src="{% static  "img/vt_logo.png" %}" alt="" style="width: 70%;">
            </div>
            <div class="col-md-4" style="padding: 2% 7% 0% 7%; ">
                <p class="lead" style="font-weight: Bold; margin: 0;">
                    Go to American Battlefield Trust
                </p>
                <img src="{% static  "img/art_logo.png" %}" alt="" style="width: 70%;">
            </div>
            <div class="col-md-4" style="padding: 2% 14% 0% 0%;">
                <p class="lead" style="font-weight: Bold; margin: 0;">
                    Go To Military Images Magazine
                </p>
                <img src="{% static  "img/mi_logo.png" %}" alt="" style="width: 70%;">
            </div>


        </div> -->
    <h1 class="display-5 " style="text-align: center; font-size: 10px;">
        Copyright © All
        rights reserved
    </h1>
</div>
</div>

{% block script %}

{% endblock %}

</html>