.rbc-timeslot-group {
  border-bottom: 1px solid #fff;
}

.rbc-time-content {
  border-left: none;
  border-top: none;
}

.rbc-today {
  background-color: #ffffff;
}

.rbc-day-slot .rbc-event {
  border: none;
}
.rbc-day-slot .rbc-time-slot {
  border: none;
}
.rbc-time-content > .rbc-time-gutter {
  border-right: 3px solid #419df495;
}

.rbc-header {
  font-size: 110%;
  color: rgba(89, 108, 126, 1);
}
.rbc-time-view,
.rbc-time-header-content,
.rbc-header {
  border: none;
}
.rbc-header + .rbc-header {
  border: none;
}

.rbc-allday-cell {
  display: none;
}
.rbc-time-view .rbc-header {
  border-bottom: none;
}
