
@primary-color: #419EF4; 
@border-radius-base: 0.8rem;

// @primary-5: #fff;
// @primary-color: #419EF4; 
// @border-radius-base: 0rem;
// @btn-primary-color: #419EF4;
// @btn-primary-bg: rgba(65, 158, 244, 0.3);
// @btn-border-style: none;
// @primary-3: #fff;
// :global(.ant-btn-primary) {    
//     &:hover {
//       background-color: var(--primary-color) !important;
//       color: var(--primary-3) !important;
//     }
//   }
@card-shadow: 0 1px 2px -2px rgba(19, 216, 101, 0.952), 0 3px 6px 0 rgba(230, 27, 27, 0),
  0 5px 12px 4px rgba(160, 175, 190, 0.164);